*{
	margin: 0;
	padding: 0;
}
body{
	background-color: aquamarine;
	
}
.main{
	width: 920px;
	min-width: 920px;
	background-color: #383838;
	margin: 0 auto;
}
.mainbody{
	background-color: white;
	padding: 0 3px 20px;
	
}
.top{
	height: 20px;
	background-color: #E9E9E9;
}
.body1{
	position: relative;
	padding: 3px 0; 
}
.body1_left{
	float: left;
}
.body1_right{
	float: right;
	margin-top: 9px;
}
.body2{
	margin-bottom: 8px;
}
.left_center{
	width: 306px;
	background-color: #DFDFDF;
	padding: 3px 10px 10px;
	margin: 10px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.look{
	padding: 5px 0;
	margin:5px ;
	border-bottom: 2px solid #C0C0C0;
}
.look .more{
	display: inline;
	background-color: black;
}
.look #more{
	font-size: 14px;
	color: white;
	text-decoration: none;
}
.center_tu{
	overflow: hidden;
}
.center_tu .tu1{
	width: 140px;
	float: left;
	background-color: #4B4B4B;
	border: 0;
	margin: 5px;
	overflow: hidden;
}
.center_tu .tu1 #tu1{
	float: left;
}
.tu1 p{
	padding: 14px 0;
	font-size: 10px;
	color: #FAFAF9;
	width: 73px;
	float: left;
	border: 0;
}
.left_bottom{
	width: 323px;
	border: 2px solid #C5C5C5;
}
.left_bottom .free{
	background-color: #000000;
	color: white;
	padding: 4px;
}
.quanmin{
	margin-bottom: 5px;
}
.left_bottom_bottom{
	overflow: hidden;
}
.left_bottom_left{
	float: left;
	margin: 10px;
}
.left_bottom_left .p1{
	color: red;
	font-size: 17px;
	font-weight: 600;
}
.left_bottom_left .p2{
	color: black;
	font-size: 17px;
	font-weight: 600;
}
.dasai_left,.dasai_right{
	height: 20px;
	font-size: 17px;
	font-weight: 600;
	border-left: 4px solid red;
	padding: 2px;
	margin: 3px;
}
.dasai_left{
	margin-top:0;
}
.dasai_right{
	margin-top:10px;
}
.left_bottom_right{
	float: left;
}
.left_bottom_right .p3{
	color: red;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:2px ;
}
.left_bottom_right .p4{
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.bodybottom{
	overflow: hidden;
}
.left,.right{
	float: left;
}
.right{
	width: 573px;
	margin-left: 13px;
}
.right_top p{
	padding: 5px;
	background-color: #363636;
}
.right_top p span{
	color: white;
	font-size: 16px;
	margin-right: 5px;
}
.right_top p a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}

.right_center{
	margin-top: 10px;
	border:2px solid #D4D4D4;
	padding: 0 20px ;
	overflow: hidden;
}
.rcenter_one,.rcenter_two{
	width: 238px;
	/*border-top:2px dotted #D4D4D4;*/
	overflow: hidden;
	float: left;
	margin: 0 10px;
	padding: 15px 0;
}
.rcenter_two{
	border-top: 2px dashed #D4D4D4;
}
.rcenter_tu1,.rcenter_p{
	float: left;
}
.rcenter_p{
	width: 165px;
	font-size: 13px;
	font-weight: bold;
	text-indent: 2em;
	margin-left: 5px;
	/*border:1px solid blue;*/
}
.rcenter_p .red{
	color: #FB6671;
	
}
.right_bottom{
	margin-top:10px ;
	overflow: hidden;
}
.right_bottom img{
	float: left;
}
.right_bottom .mar{
	margin: 0 8px 4px 0;
}
.mainbottom{
	height: 60px;
	text-align: center;
}
.mainbottom p{
	color: white;
	font-size: 15px;
	/*font-weight: 600;*/
	margin: 15px;
}
