*{
	margin: 10px;
	box-sizing: border-box;
}
.main{
	width: 700px;
	margin: 0 auto;
	font-family: "微软雅黑";
	background-color:rgb(253,253,253)
}
.one,#hh2,.two{
	border-bottom: 1px solid darkgray;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.hh1{
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
}
.hh2{
	font-size: 18px;
	font-weight: 800;
}
a:link{
	color: darkred;
}
a:hover{
	cursor: pointer;
	color: red;
}
a:active{}
a:visited{}
